/*top*/
.top-wrap {
    background: #262626;
    height: 40px;
    line-height: 40px;
    color: #bfbfbf;
}

.top-left {
    float: left;
    height: 40px;
    line-height: 40px;
}

.top-left a {
    float: left;
    color: #bfbfbf;
}

.top-left span {
    width: 1px;
    float: left;
    display: inline-block;
    height: 12px;
    background: #444;
    margin: 14px 10px;
}

.top-right {
    float: right;
    height: 40px;
    line-height: 40px;
}

.top-right a {
    float: left;
    color: #bfbfbf;
}

.top-right span {
    width: 1px;
    float: left;
    display: inline-block;
    height: 12px;
    background: #444;
    margin: 14px 10px;
}

.shopping {
    float: right;
}

.shopping a {
    display: block;
    width: 124px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    margin-left: 20px;
    float: right;
    background: #343434;
    color: #bfbfbf;
}

.top-right-div img {
    width: 144px;
    height: 144px;
    margin-bottom: 4px;
}

.top-right-div {
    width: 148px;
    padding: 3px;
    position: absolute;
    top: 40px;
    left: -50px;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    display: none;
    z-index: 8;
}

.top-right-div::before {
    content: '';
    border-style: dashed dashed solid;
    border-color: transparent transparent #fff;
    border-width: 5px;
    position: absolute;
    top: -10px;
    left: 70px;
    text-align: center;
}

.top-right-div p {
    line-height: 1px;
    font-size: 14px;
    color: #8c8c8c;
    text-align: center;
    padding-bottom: 8px;
    padding-right: 2px;
    padding-top: 3px;
}

.top a:hover {
    color: #fff;
}

/*top*/


.sidebar {
    height: 255px;
    background: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #eee;
    border-right: none;
    overflow: hidden;
}

.sidebar-wrap {
    width: 80px;
    height: 355px;
    position: fixed;
    right: 0px;
    bottom: 70px;
    /*display: none;*/
    z-index: 9;
}

.sidebar a {
    display: block;
    width: 60px;
    height: 85px;
    padding-top: 14px;
    background: #fff;
    text-align: center;
    margin: auto;
    border-top: 1px solid #e8e8e8;
    cursor: pointer;
    position: relative;

}

.sidebar a:nth-child(1) {
    border: 0;
}

.sidebar a i {
    display: block;
    margin: 0 auto 10px;
}

.sidebar a span {
    display: block;
    font-size: 14px;

}

.sidebar a .i4 {
    height: 32px;
    width: 32px;
    background: url("../img/1.jpg") -68px -82px;
}

.sidebar a .i5 {
    height: 32px;
    width: 32px;
    background:url("../img/1.jpg")  -228px -82px;
}

.sidebar a .i6 {
    height: 32px;
    width: 32px;
    background: url("../img/1.jpg") -260px -82px;
}

.db {
    position: absolute;
    width: 80px;
    left: 0;
    bottom: 0;
    background: #fff;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border: 1px solid #eee;
    border-right: none;
    display: none;
}

.db a  {
    display: block;
    width: 60px;
    height: 85px;
    padding-top: 14px;
    background: #fff;
    text-align: center;
    margin: auto;
    cursor: pointer;
    position: relative;
}


.db a i {
    display: block;
    margin: 0 auto 10px;
    height: 32px;
    width: 32px;
    background: url("../img/1.jpg") -36px -82px;
}

.db a span {
    display: block;
    font-size: 14px;
}

/*nav*/
.nav {
    height: 80px;
}

.nav .list {
    width: 620px;
    margin-left: 75px;
    line-height: 80px;
    height: 80px;
    float: left;
}

.nav a {
    float: left;
    width: 168px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    text-align: center;
}

.nav .list li {
    float: left;
    padding: 0 25px;
    font-size: 16px;
}

.nav .list li:hover {
    color: orangered;
    cursor: pointer;
}

.nav a .span1 {
    display: inline-block;
    width: 44px;
    height: 36px;
    background: url("../img/1.jpg") 263px -30px;
}

.nav a .name {
    font-size: 28px;
    position: relative;
    top: -8px;
    left: 5px;
    color: #262626;
}

.nav-content {
    border-top: 1px solid #eee;
    overflow: hidden;
    height: 242px;
    display: none;
    width: 100%;
    position: absolute;
    z-index: 5;
    background: #fff;
}

.nav-content ul li {
    float: left;
    width: 180px;
    height: 220px;
    padding: 20px 0 30px;
    position: relative;
}

.nav-content ul li a {
    display: block;
    width: 170px;
    text-align: center;
    font-size: 14px;
}

.nav-content ul li a .aspan1, .nav-content ul li a .aspan1 img {
    width: 170px;
    height: 170px;
    position: relative;
    top: 2px;
}

.nav-content ul li a .aspan2 {
    display: block;
    line-height: 30px;
    color: #262626;
}

.nav-content ul li a .aspan3 {
    display: block;
    line-height: 20px;
    color: #262626;
}

.nav-content ul li a :hover {
    color: #ea413c !important;
}

.nav-content ul li .aspan4 {
    position: absolute;
    height: 100px;
    width: 1px;
    background: #e8e8e8;
    top: 58px;
    right: 4px;
}

/*nav*/

/*banner*/
.banner-wrap {
    height: 450px;
    width: 100%;
}

.carousel-indicators li {
    margin: 0 10px;
}

.banner-img .item img {
    height: 450px;
}

/*banner*/

/*pagtion-wrap*/
.pagtion-wrap {
    background: #f5f5f5;
    overflow: hidden;
}

.pagtion-t {
    margin-top: 30px;
}

.pagtion-t-title {
    height: 40px;
    line-height: 40px;
    margin-bottom: 20px;

}

.pagtion-t-title span:nth-child(1) {
    font-size: 22px;
    color: #262626;
    margin-right: 20px;
}

.pagtion-t-title span:nth-child(2) {
    font-size: 16px;
    color: #8c8c8c;
}

.pagtion-t-img img {
    display: inline-block;
    width: 540px;
    position: relative;
    transition: 1s;
}

.pagtion-t-img img:hover {
    transition: 1s;
    top: -4px;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.8);
}

.pagtion-t-img img:nth-child(1) {
    margin-right: 56px;
}

.pagtion-b-img a , .pagtion-bb-img a{
    width: 260px;
    height: 350px;
    text-align: center;
    padding: 20px;
    margin-right: 29px;
    display: inline-block;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    transition: 1s;
}

.pagtion-b-img a:hover , .pagtion-bb-img a:hover{
    top: -4px;
    transition: 1s;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.8);
}

.pagtion-b-img a img , .pagtion-bb-img a img{
    width: 240px;
    height: 240px;
    display: block;
}

.pagtion-b-img a .pagtion-span1 , .pagtion-bb-img  a .pagtion-span1{
    display: block;
    font-size: 16px;
    color: #262626;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagtion-b-img a .pagtion-span2 , .pagtion-bb-img  a .pagtion-span2 {

    display: block;
    font-size: 14px;
    color: #8c8c8c;
    margin-bottom: 14px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.pagtion-b-img a .pagtion-span3  , .pagtion-bb-img a .pagtion-span3{
    position: relative;
    top: -9px;
    color: #ea413c;
    font-size: 14px;
}

.pagtion-img {
    margin-top: 20px;
    margin-bottom: 30px;
    width: 1138px;
}

.pagtion-b-b {

}



.pagtion-bb a {
    width: 260px;
    height: 270px;
    text-align: center;
    padding: 20px;
    margin-right: 29px;
    display: inline-block;
    background: #fff;
    box-sizing: border-box;
    position: relative;
    transition: 1s;
}

.pagtion-bb a:hover {
    top: -4px;
    transition: 1s;
    box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.8);
}

.pagtion-bb a img {
    width: 260px;
    height: 200px;
    position: relative;
    top: -20px;
    left: -20px;
    display: block;
}

.pagtion-bb a .pagtion-span1 {
    display: block;
    font-size: 16px;
    color: #262626;
    height: 36px;
    line-height: 36px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: -17px;

}

.pagtion-bb a .pagtion-span2  {
    display: block;
    font-size: 14px;
    color: #8c8c8c;
    margin-bottom: 14px;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    top: -17px;

}
.pagtion-bb-c {
    width: 40px;
    height: 40px;
    background: url('../img/p.png') center;
    position: absolute;
    border-radius: 50%;
    background-size: 40px 40px;
    left: 20px;
    bottom: 81px;
    opacity: .5;
}

.pagtion-bb a:hover .pagtion-bb-c{
    opacity: 1;
}


/*pagtion-wrap*/

/*footer*/
footer {
    overflow: hidden;
}

.footer-t-l {
    width: 580px;
    height: 205px;
    padding-top: 40px;
    color: #262626;
    float: left;
}

.footer-t-l p {
    margin-bottom: 45px;
    font-size: 18px;
}

.footer-t-l ul li {
    float: left;
    width: 65px;
    margin: 0 25px;
    text-align: center;
}

.footer-t-l ul li i {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 50px;
}

.footer-t-l ul li span {
    font-size: 16px;
}

.footer-t-c {
    float: left;
    width: 327px;
    height: 200px;
    padding: 0 31px;
    margin-top: 43px;
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    font-size: 18px;
    color: #262626;

}
.footer-t-c p {
    margin-bottom: 26px;
}

.footer-t-c ul li{
    float: left;
    font-size: 16px;
    width: 120px;
    text-align: center;
}

.footer-t-c ul li:nth-child(1) {
    margin-right: 22px;
}
.footer-t-c ul li img {
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}


.footer-t-r {
    padding-top: 40px;
    width: 200px;
    float: right;
}

.footer-t-t {
    display: inline-block;
    width: 175px;
    height: 70px;
    font-size: 14px;
    text-align: center;
}

.footer-t-t li {
    display: inline-block;
    width: 72px;
}

.footer-t-t li:nth-child(1) {
    width: 87px;
    margin-right: 16px;
}

.footer-t-t li i {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url('../img/2.png') -374px -82px;
    margin: 0 auto 15px;

}
.footer-t-t li .i2{
    display: inline-block;
    width: 38px;
    height: 42px;
    background: url('../img/2.png') -711px -30px;
    margin: 0 auto 15px;
}

.footer-t-t li span {
    width: 83px;
    display: inline-block;
}

.footer-t-b {
    padding-top: 23px;
    border-top: 1px solid #e8e8e8;
    width: 180px;
    margin: 20px auto 30px;
    text-align: center;
}

.footer-t-b .span11 {
    font-size: 16px;
    color: #262626;
    display: block;
}

.footer-t-b .span22 {
    color: #e14d4d;
    font-size: 24px;
    font-family: arial;
    display: block;
}

.footer-t-b .span33 {
    color: #8c8c8c;
    font-size: 14px;
    display: block;
}

.footer-ff {
    overflow: hidden;
    border-bottom: 1px solid #e8e8e8;
}

.footer-b {
    overflow: hidden;
    text-align: center;
}
.footer-bb {
    padding-top: 53px;
    line-height: 30px;
    color: #8c8c8c;
    font-size: 12px;
}
.footer-bb a {
    margin: 0 10px;
    color: #8c8c8c;
}

.footer-bbb {
    font-size: 12px;
    color: #8c8c8c;
    line-height: 30px;
}

.footer-bbb .i3 {
    height: 12px;
    width: 11px;
    display: inline-block;
    margin: 0 0 -1px 4px;
    background: url("../img/2.png")  -222px -30px;
}